<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CmdTool" type="CSharpTest.Net.CustomTool.Config, CmdTool"/>
	</configSections>
	<CmdTool xsi:noNamespaceSchemaLocation="CmdTool.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<match filespec="*.proto">
			<generator debug="true">
				<execute exe="ProtoGen.exe" />
				<!-- protoc.exe arguments -->
				<arg value="--proto_path=$(InputDir)\"/>
				<arg value="--include_imports"/>
				<arg value="$(InputPath)"/>
				<!-- protogen.exe arguments -->
				<arg value="-file_extension=.pb.cs"/>
				<arg value="-namespace=$(Namespace)"/>
				<arg value="-output_directory=$(InputDir)\"/>
				<arg value="-ignore_google_protobuf=true"/>
				<arg value="-cls_compliance=false"/>
				<arg value="-nest_classes=false"/>
				<output extension=".pb.cs"/>
			</generator>
		</match>
	</CmdTool>
</configuration>
