#IDE文件
.vs/
.idea/
.vscode/
_ReSharper.CSharp/

#svn
*/.svn/
.svn/

#Excel的临时文件
~$*.xlsx
~$*.xlsx.meta

#Unity相关目录
Unity/.gradle
Unity/Bundles
Unity/Library
Unity/Logs
Unity/UserSettings
Unity/*.csproj
Unity/*.vsconfig
Unity/ProjectSettings/RiderScriptEditorPersistedState.asset
Unity/HybridCLRData

#Unity/Assets
Unity/Assets/Bundles/Code/*
Unity/Assets/Bundles/AotDlls/*
Unity/Assets/StreamingAssets/
Unity/Assets/StreamingAssets.meta

#Unity中的IgnoreAssembly定义文件
Unity/Assets/Scripts/**/Ignore.asmdef
Unity/Assets/Scripts/**/Ignore.asmdef.meta

#WebGL
WebGL

#其他
.objs/
.DS_Store
/*.user
bin/
Bin/
/Log
/Logs
obj/
/Release
/Temp
/Tools/MongoDB
Publish/
*/Temp/
*/TestResults/