#IDE文件
.vs/
.idea/
.vscode/
_ReSharper.CSharp/

#svn
*/.svn/
.svn/

#Excel的临时文件
~$*.xlsx
~$*.xlsx.meta

#Unity相关目录
.gradle
Bundles
Library
Logs
UserSettings
/*.csproj
*.vsconfig
ProjectSettings/RiderScriptEditorPersistedState.asset
HybridCLRData

#Unity/Assets
Assets/Bundles/Code/*
Assets/Bundles/AotDlls/*
Assets/StreamingAssets/
Assets/StreamingAssets.meta

#Unity中的IgnoreAssembly定义文件
Assets/Scripts/**/Ignore.asmdef
Assets/Scripts/**/Ignore.asmdef.meta

#WebGL
WebGL

#其他
.objs/
.DS_Store
/*.user
bin/
Bin/
/Log
/Logs
obj/
/Release
/Temp
/Tools/MongoDB
Publish/
*/Temp/
*/TestResults/
Assets/Generate/Model/Proto*
Assets/Generate/Model/Excel*
/**/AssemblyReference.asmref
/**/AssemblyReference.asmref.meta
Unity.sln
Unity.sln.DotSettings.user

/ET.sln