<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_Calculator" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:10000/Calculator/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_Calculator" contract="Proxy.Calculator"
                name="NetTcpBinding_Calculator">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>