<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataCenterEntities" connectionString="metadata=res://*/DataCenter.csdl|res://*/DataCenter.ssdl|res://*/DataCenter.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.11.93;user id=tanghai;password=tanghai;persist security info=True;database=tanghai&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>