<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="DataCenterEntities" connectionString="metadata=res://*/DataCenter.csdl|res://*/DataCenter.ssdl|res://*/DataCenter.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.11.93;user id=tanghai;password=tanghai;persist security info=True;database=tanghai&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>