<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="5.0.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.6.4" targetFramework="net45" />
  <package id="MySQL.Data.Entities" version="6.5.4.0" targetFramework="net45" />
</packages>