<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Realm.Calculator" behaviorConfiguration="Realm.BehaviorConfiguration">
				<endpoint address="" binding="netTcpBinding" contract="RealmContract.ICalculator" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:10000/Calculator/" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="Realm.BehaviorConfiguration">
					<serviceMetadata httpGetEnabled="False" />
					<serviceDebug includeExceptionDetailInFaults="False" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
