<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="file" xsi:type="File" fileName="${basedir}/Log.txt"
				layout="${date:format=HH\:mm\:ss}|${threadid}|${level}|${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="file"/>
	</rules>
</nlog>
