<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="appType" value="" />
	<variable name="appId" value="" />
	<targets>
		<target name="all" xsi:type="File"
			fileName="${basedir}/../Logs/Log.txt"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
	</targets>

	<targets>
		<target name="trace" xsi:type="File"
			openFileCacheTimeout="3600"
			fileName="${basedir}/../Logs/Log-${var:appType}-${var:appIdFormat}-Trace-${date:universalTime=true:format=yyyyMMdd}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message} ${newline} ${stacktrace:format=Raw:topFrames=10:skipFrames=0}" />
	</targets>
	
	<targets>
		<target name="debug" xsi:type="File"
			openFileCacheTimeout="3600"
			fileName="${basedir}/../Logs/Log-${var:appType}-${var:appIdFormat}-Debug-${date:universalTime=true:format=yyyyMMdd}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
	</targets>

	<targets>
		<target name="info" xsi:type="File"
			openFileCacheTimeout="3600"
			fileName="${basedir}/../Logs/Log-${var:appType}-${var:appIdFormat}-Info-${date:universalTime=true:format=yyyyMMdd}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
	</targets>
	
	<targets>
		<target name="error" xsi:type="File"
			openFileCacheTimeout="3600"
			fileName="${basedir}/../Logs/Log-${var:appType}-${var:appIdFormat}-Error-${date:universalTime=true:format=yyyyMMdd}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message} ${newline} ${stacktrace:format=Raw:topFrames=10:skipFrames=0}" />
	</targets>
  
  <targets>
		<target name="warn" xsi:type="File"
			openFileCacheTimeout="3600"
			fileName="${basedir}/../Logs/Log-${var:appType}-${var:appIdFormat}-Warning-${date:universalTime=true:format=yyyyMMdd}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message}" />
	</targets>
  
  <targets>
		<target name="fatal" xsi:type="File"
			openFileCacheTimeout="3600"
			fileName="${basedir}/../Logs/Log-${var:appType}-${var:appIdFormat}-Fatal-${date:universalTime=true:format=yyyyMMdd}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message} ${newline} ${stacktrace:format=Raw:topFrames=10:skipFrames=0}" />
	</targets>
	
	<rules>
		<!--<logger name="*" minlevel="Trace" writeTo="all" />-->
		<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="trace" />
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debug" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="info" />
		<logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warn" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="error" />
		<logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="fatal" />
	</rules>
</nlog>