<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://yunlaihotfix2.oss-cn-shenzhen.aliyuncs.com/lp_resource/HeadIcon/yunlai.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://yunlaihotfix1.oss-cn-shenzhen.aliyuncs.com/lp_resource/App/yunlai.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.szgame.majiang</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>运来麻将</string>
				<key>subtitle</key>
				<string>让娱乐更纯粹</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
